<a href="https://colab.research.google.com/github/HasibullahAman/IBMAIEngineeringProfessionalCertificate/blob/Introduction-to-Deep-Learning-%26-Neural-Networks-with-Keras/Build_a_baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><span style="font-family:Comic Sans MS; color:navy "><h1>Task 1</h1></span></center>

## Import library's

In [24]:
# i had just need this for preprocessing 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# I need this for my Neural network model
from keras.models import Sequential
from keras.layers import Dense
# for split data
from sklearn.model_selection import train_test_split
# for test our model
from sklearn.metrics import mean_squared_error

## Import Data

In [12]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Preprocessing & Normalization

In [14]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

in the cell above I split the target and and my data, like the lab we have befor

## Create a Neural Network

In [28]:
model = Sequential() # create a instance from sequential model
# Add a fully connected (Dense) layer with 10 units and ReLU activation
model.add(Dense(10,activation='relu'))
model.add(Dense(1)) # I got error and I add this layer ---> https://stackoverflow.com/questions/60988136/calculating-mean-square-error-return-y-true-and-y-pred-have-different-number-of
# Compile the model with binary mean_squerd_error and Adam optimizer
model.compile(loss='mean_squared_error',optimizer='adam')

In [29]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=0)

In [30]:
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 58826.3906
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 25240.5605
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 12386.2510
Epoch 4/50
23/23 [==============================] - 0s 3ms/step - loss: 10230.1699
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 9029.1162
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 8075.7925
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 7295.4600
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 6591.3584
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 5991.0005
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 5475.8403
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 5013.5679
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 4617.1709
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 4252.0122
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 3964.0620
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 3683.8252
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 3447.2815
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 3235.7747
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 3045.5825
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 2872.8579
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 2713.7812
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 2571.8359
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 2442.9604
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 2322.2046
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 2210.2173
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 2105.7349
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 2015.6332
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 1923.6478
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 1838.4055
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 1757.7290
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 1679.5845
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 1612.2068
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 1534.8267
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 1454.1887
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 1370.4561
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 1283.9983
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 1159.1410
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 1029.2422
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 909.7124
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 802.9810
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 710.1396
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 624.8468
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 549.8986
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 488.8839
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 437.5005
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 397.0904
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 356.6530
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 324.0272
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 297.5150
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 275.1054
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 255.9950

In [31]:
mse_list = []
for i in range(50):
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step

In [32]:
# Report the mean and standard deviation of the mean squared errors
print(np.mean(mse_list))
print(np.std(mse_list))

205.55816070239757
0.0