<a href="https://colab.research.google.com/github/HasibullahAman/IBMAIEngineeringProfessionalCertificate/blob/Introduction-to-Deep-Learning-%26-Neural-Networks-with-Keras/Normalize_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><span style="font-family:Comic Sans MS; color:navy "><h1>Task2</h1></span></center>

## Import library's

In [39]:
# i had just need this for preprocessing 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# I need this for my Neural network model
from keras.models import Sequential
from keras.layers import Dense
# for split data
from sklearn.model_selection import train_test_split
# for test our model
from sklearn.metrics import mean_squared_error

## Import Data

In [12]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Preprocessing & Normalization

In [14]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

in the cell above I split the target and and my data, like the lab we have befor

In [33]:
predictors = (predictors - predictors.mean()) / predictors.std()
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

## Create a Neural Network

In [34]:
model = Sequential() # create a instance from sequential model
# Add a fully connected (Dense) layer with 10 units and ReLU activation
model.add(Dense(10,activation='relu'))
model.add(Dense(1)) # I got error and I add this layer ---> https://stackoverflow.com/questions/60988136/calculating-mean-square-error-return-y-true-and-y-pred-have-different-number-of
# Compile the model with binary mean_squerd_error and Adam optimizer
model.compile(loss='mean_squared_error',optimizer='adam')

In [35]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=0)

In [36]:
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
23/23 [==============================] - 1s 4ms/step - loss: 1550.5325
Epoch 2/50
23/23 [==============================] - 0s 3ms/step - loss: 1534.5924
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 1518.5253
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 1502.3271
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 1485.8140
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 1468.5742
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1450.7612
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 1431.5389
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 1411.0737
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 1389.1527
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 1365.6315
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 1340.4863
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 1314.2295
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 1286.3584
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 1257.2559
Epoch 16/50
23/23 [==============================] - 0s 3ms/step - loss: 1226.7867
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 1195.3859
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 1162.7820
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 1129.5345
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 1096.2451
Epoch 21/50
23/23 [==============================] - 0s 3ms/step - loss: 1061.9347
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 1027.4547
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 992.5156
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 957.7087
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 923.1288
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 888.6906
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 854.1984
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 820.5245
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 787.9492
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 755.0822
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 723.9092
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 692.7742
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 662.8953
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 634.0762
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 606.5883
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 579.8288
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 554.2427
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 529.9687
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 506.3211
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 484.4741
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 463.3094
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 443.5433
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 425.0920
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 406.8507
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 390.7380
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 374.7473
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 360.5114
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 346.4978
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 334.0047
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 322.3583

In [37]:
mse_list = []
for i in range(50):
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step

In [38]:
# Report the mean and standard deviation of the mean squared errors
print(np.mean(mse_list))
print(np.std(mse_list))

304.8876820879361
5.684341886080802e-14